<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jobber.com</title>
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
    <div id="navbar" class="navbar">
        <div class="logo-wrapper">
            <h1>Jopper</h1>
        </div>
        <div class="nav">
            <a href="#about">Sobre</a>
            <a href="#">Suporte</a>
            <a href="#">Preços</a>
            <a href="/home">Minha conta</a>
        </div>
        <div class="hamburger-icon">&#x2630</div>
    </div>
    <div class="main">
        <div class="main-header">
            <h1 class="main-header-title">
                Seu curriculo é nota 10 para as vagas do mercado?
            </h1>
            <p class="main-header-subtitle">Com o Jopper é possível comparar o seu currículo com as vagas de trabalho do mercado e assim, <br>
            encontrar palavras-chave que faltam para você conseguir seu emprego dos sonhos.
            </p>
        </div>
        <div class="main-content">
            <div class="main-content-price card">
                <p>Ver preços</p>
            </div>
            <div class="main-content-free card">
                <p>Teste gratuitamente</p>
            </div>
        </div>
        <div class="main-footer">
            <a href="#about">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
            </a>
        </div>
    </div>
    <div id="about" class="about">
        <h1>Sobre</h1>
        <div class="gradient"></div>
    </div>
</body>
</html>