<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conta</title>
    <link rel="stylesheet" href="/css/AccountStyle.css" type="text/css">
</head>
<body>
    <header>
        <div class="logo-wrapper">
            <h1>Jopper</h1>
        </div>
        <div class="account-wrapper">
            <p>usuario@gmail.com</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </div>
    </header>
    <aside>
        <button onclick="openModal(2)">Avaliar novo currículo</button>
        <nav>
            <a href="/home" data-tab="general">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                <p>Geral</p>
            </a>
            <a href="#" data-tab="avaliate">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 9.2h3V19H5zM10.6 5h2.8v14h-2.8zm5.6 8H19v6h-2.8z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
                <p>Gráficos</p>
            </a>
            <a href="/cluster" data-tab="training">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                <p>Preços</p>
            </a>
            <a href="/clusters" data-tab="clusters">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 9H9v6h6V9zm-2 4h-2v-2h2v2zm8-2V9h-2V7c0-1.1-.9-2-2-2h-2V3h-2v2h-2V3H9v2H7c-1.1 0-2 .9-2 2v2H3v2h2v2H3v2h2v2c0 1.1.9 2 2 2h2v2h2v-2h2v2h2v-2h2c1.1 0 2-.9 2-2v-2h2v-2h-2v-2h2zm-4 6H7V7h10v10z"/></svg>
                <p>Clusters</p>
            </a>
        </nav>
    </aside>
    <main>
        <div class="black-overlay"></div>
        <%- body %>
    </main>
    <div class="modal-wrapper" id="modal-1-wrapper">
        <form id="create-cluster-form">
            <svg onclick="closeModal(1)" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            <h1>Criar cluster</h1>
            <label for="cluster-name">Nome do cluster</label>
            <input type="text" id="cluster-name" placeholder="Cluster">
            <label for="cluster-keywords">Palavras-chave</label>
            <input type="text" id="cluster-keywords" placeholder="As melhores palavras chave">
            <p>* Separe-as por virgula.</p>
            <button type="submit">Criar</button>    
        </form>
    </div>
    <div class="modal-wrapper" id="modal-2-wrapper">
            <form id="avaliate-form">
                <svg onclick="closeModal(2)" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 24 24"><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                <h1>Avaliar currículo</h1>
                <label for="profession">Profissões disponíveis</label>
                <select id="profession">
                    <option value="1">Programador</option>
                    <option value="2">Advogado</option>
                </select>
                <label for="profession-text" id="cluster-keywords">Currrículo</label>
                <textarea id="profession-text" cols="30" rows="10"></textarea>
                <p>* Cole o texto do seu currículo</p>
                <button type="submit">Avaliar </button>    
            </form>
        </div>
    <script type="text/javascript" src="/lib/jquery-3.4.1.min.js"></script>
    <script>

        $('nav a').each(function(){
            if ( $(this).attr('href') == window.location.pathname ) {
                $(this).addClass('card-selected');
            }else {
                $(this).removeClass('card-selected');
            }
        });

        function openModal(number){
            $('#modal-' + number +'-wrapper').css('display', 'flex');
        }

        function closeModal(number){
            $('#modal-' + number +'-wrapper').css('display', 'none');
        };

        const blackOverlay = document.querySelector('.black-overlay');
        blackOverlay.style.display = 'none';

        document.querySelector('.account-wrapper').onclick = function(){
            if (blackOverlay.style.display === 'none') {
                blackOverlay.style.display = 'block';
            } else {
                blackOverlay.style.display = 'none';
            }
        };

        $('#create-cluster-form').submit(function(event){
        event.preventDefault();

        const cluster = {
            'name': $('#cluster-name').val(),
            'keywords': $('#cluster-keywords').val()
        }
        createCluster(cluster)
        .then(response => {
            console.log(response)
            window.location.reload();
        })
        .catch(err => console.error(err));
    });

    async function createCluster(cluster){
        const response = await fetch('/cluster', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(cluster)
        });

        const data = await response.json();

        return data;
    }
        

        
    </script>
</body>
</html>