@{
    Layout = "~/Views/Shared/_LayoutPergunta.cshtml";
}
<div class="editor">
    <div class="container-wrapper">
        <div id="container"></div>
    </div>
</div>

@section Scripts {
    
<script>var require = { paths: { 'vs': '/lib/vs' } };</script>
<script src="~/lib/vs/loader.js"></script>
<script src="~/lib/vs/editor/editor.main.nls.js"></script>
<script src="~/lib/vs/editor/editor.main.js"></script>
<script>
    var originalModel = monaco.editor.createModel("zap", "javascript");
    var modifiedModel = monaco.editor.createModel("zap2", "javascript");
    var editor = monaco.editor.createDiffEditor(document.getElementById('container'), {
        language: 'javascript',
        theme: "vs-dark",
        automaticLayout: true,
        scrollbar: {
            verticalHasArrows: true,
            horizontalHasArrows: true,
            vertical: 'visible',
            horizontal: 'visible',
            verticalScrollbarSize: 17,
            horizontalScrollbarSize: 17,
            arrowSize: 30
        }
    });
    editor.setModel({
        original: originalModel,
        modified: modifiedModel
    });
</script>
}