@{
    Layout = "~/Views/Shared/_LayoutPergunta.cshtml";
}
<div class="header-wrapper">
    <div class="header">
        <div class="header-left">

        </div>
        <div class="header-center">
            <div class="mobile-header-backdrop"></div>
            <div class="mobile-header">
                <button class="mdc-icon-button material-icons header-icon-button" style="left: 8px" id="mobile-sidebar-button">menu</button>
                <button class="header-search-field" id="mobile-search-button" onclick="SearchModalFocus()">Buscar...</button>
                <button class="mdc-icon-button header-icon-button" style="right: 8px;" data-micromodal-trigger="modal-1"><img class="header-img-button" src="~/img/porter.jpg"></button>
            </div>
        </div>
        <div class="header-right">

        </div>
    </div>
</div>
<div class="editor">
    <div class="container-wrapper">
        <div id="container"></div>
    </div>
</div>

@section Scripts {
    
<script>var require = { paths: { 'vs': '/lib/vs' } };</script>
<script src="~/lib/vs/loader.js"></script>
<script src="~/lib/vs/editor/editor.main.nls.js"></script>
<script src="~/lib/vs/editor/editor.main.js"></script>
<script>
    var originalModel = monaco.editor.createModel("zap", "javascript");
    var modifiedModel = monaco.editor.createModel("zap2", "javascript");
    var editor = monaco.editor.createDiffEditor(document.getElementById('container'), {
        language: 'javascript',
        theme: "vs-dark",
        automaticLayout: true,
        scrollbar: {
            verticalHasArrows: true,
            horizontalHasArrows: true,
            vertical: 'visible',
            horizontal: 'visible',
            verticalScrollbarSize: 17,
            horizontalScrollbarSize: 17,
            arrowSize: 30
        }
    });
    editor.setModel({
        original: originalModel,
        modified: modifiedModel
    });
</script>
}