* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* :root {
    --mdc-theme-primary: #9c27b0;
    --mdc-theme-secondary: #ffab40;
    --mdc-theme-background: #fff;
} */

html,
body {
    color: #060606;
}

a,
button {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #060606;
}

button, input {
    background: none;
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    height: 11px;
    width: 5px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent
}

::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
    background-clip: padding-box;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    /* -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07); */
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, .2);
    min-height: 28px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 20px;
    /* -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25); */
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
    /* box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35); */
    background-color: rgba(0, 0, 0, .5)
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
}

::-webkit-scrollbar-track:hover {
    /* -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1); */
    background-color: rgba(0, 0, 0, .05)
}

::-webkit-scrollbar-track:active {
    /* -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07); */
    background-color: rgba(0, 0, 0, .05)
}

.wrapper {
}

/*HEADER*/

.header-wrapper {
    width: 100%;
    z-index: 49;
    position: fixed;
    background: #f6f6f6;
    right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-left {}

.header-center {
    flex: 1 1 100%;
}

.mobile-header {
    display: flex;
    height: 46px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    border-radius: 35px;
    margin: 0 10px;
}

.header-icon {
    font-size: 32px;
    padding: 6px;
    border-radius: 50%;
}

#mobile-sidebar-button .header-icon {
    font-size: 20px;
    padding-left: 15px;
}

.header-search-form {
    display: flex;
    width: 100%;
}

.header-button {
    border: none;
    outline: none;
    color: #000;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    padding: 0;
}

.header-search-bar {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    padding: 0 10px;
}

.header-right {}

.sidebar-wrapper {
    display: flex;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    position: fixed;
    will-change: transform;
    /*height: calc(100vh - 64px);*/
    height: 100%;
    top: 0;
    overflow-y: auto;
    background: #1e2126;
    z-index: 51;
    justify-content: center;
    max-width: 80%;
}

.sidebar-wrapper-after {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.mobile-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-section {
    margin-top: 35px;
}

.notfirst {
    margin-top: 0;
}

.sidebar-section.notfirst:after {
    content: "";
    position: absolute;
    left: 12.5%;
    height: 1px;
    width: 75%;
    border-bottom: 1px solid #282c32;
}

.section-new {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar-logo-container {
    margin-bottom: 30px;
}

.sidebar-logo {
    /* TROCAR PARA PARAMETROS DE SVG MAIS TARDE */
    font-size: 40px;
    color: #dbdbdb;
}


.button-reverse{
    color: white;
    border-color: white;
    border-width: 2px;
    height: auto;
    padding: 13px 36px;
    font-weight: 600;
}

/* .new-compose {
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    /* background: none; */
    color: #fff;
    padding: 13px 36px;
    /* border: 3px solid #a684d8; */
    border-radius: 40px;
    font-weight: 600;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

 .new-compose:hover {
    background: rgba(0, 0, 0, .25);
}

.new-compose:active {
    background: rgba(0, 0, 0, .35);
} */

.section-default {
    margin-bottom: 40px;
}

.default-list {
    list-style: none;
}

.default-list li {
    display: flex;
}

.list-title {
    position: relative;
    padding: 10px 0;
    padding-left: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #475263;
    font-weight: 600;
}

.list-select {
    position: relative;
    padding: 10px 0;
    padding-left: 60px;
    text-decoration: none;
    color: #8690a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.list-select:hover {
    background: #272b31;
}

.materia-title-container {
    width: calc(100% - 60px);
}

.materia-title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-select-overflowing {
    transform: translateX(0);
}

.list-select:hover .list-select-overflowing {
    width: fit-content;
    transition: 4s;
}

.section-custom {
    margin-bottom: 40px;
    margin-top: 30px;
}

.custom-list {
    list-style: none;
}

.custom-list li {
    display: flex;
}

.list-label-container {
    right: 35px;
    position: absolute;
    right: 0;
    position: absolute;
    background: #1e2126;
    padding-right: 35px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.list-select:hover .list-label-container {
    background: #272b31;
}

.list-label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    width: 10px;
    height: 10px;
}

.list-label i{
    font-size: 14px;
}

.edit-label {
    right: 32px;
    position: relative;
    background: none;
    border: none;
    outline: none;
    color: #475263;
    cursor: pointer;
    transition: color 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.edit-label:hover {
    color: #7b8eaa;
}

.edit-label i {
    font-size: 18px;
}

.desktop-sidebar {
    display: none;
}

.desktop-sidebar-closed {}

.section-open {}

.section-all {}

.section-all-default {}

.section-all-custom {}

.desktop-sidebar-open {}

.account-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    /* remover align no desktop */
}

.account-info-group {
    display: flex;
    align-items: center;
    /* remover align no desktop */
}

.account-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* 95px no desktop */
    background: red;
    margin-right: 20px;
    object-fit: cover;
}

.account-picture-small {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /* 95px no desktop */
    object-fit: cover;
    margin: 6px;
}

.account-info-display {
    display: flex;
    flex-direction: column;
}

.account-info-display * {
    font-size: 13px;
}

.account-info-display h1 {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.account-info-display h2 {
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-weight: 100;
}

.account-edit-info {}

.edit-info-button {
    background: none;
    border: none;
    outline: none;
}

.edit-info-button i {
    height: 24px;
    width: 24px;
}

.pergunta-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-field{
    outline: none;
    border: none;
    margin: 15px 0;
    display: flex;
    padding: 8px 20px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
}

.input-textarea{
    width: 100%;
    box-sizing: border-box;
}

.upload-btn-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.upload-btn-wrapper input[type=file]:hover ~ .option-button {
    background: #F2F2F2;
}

.input-materia{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/* .option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    color: #060606;
    padding: 8px 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
} */

    .option-button:hover {
        background: #F2F2F2;
    }

.small-option-button {
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.5), 0 1px 3px 1px rgba(65, 69, 73, 0.35);
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #060606;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940), border 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

    .small-option-button i{
        font-size: 18px;
        font-weight: 600;
        width: 18px;
        height: 18px;
    }

    .small-option-button:hover {
        background:#F2F2F2;
    }

    .accept-button:hover{
        color: #fff;
        border-color: #4caf50;
        background: #4caf50;
    }

    .decline-button:hover{
        color: #fff;
        border-color: #f44336;
        background: #f44336;
    }

.footer-link {
    font-size: 12px;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    background: rgba(0, 0, 0, .6);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.invite-wrapper {
    width: 100%;
}

.invite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.invite-left {
    display: flex;
    align-items: center;
}

.invite-info-display {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.invite-info-display * {
    font-size: 13px;
}

.invite-info-display h1 {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
}

.invite-info-display h2 {
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-weight: 100;
}

.invite-right {
    display: flex;
    align-items: center;
}

.send-invite-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-invite-searchbar{
    height: 46px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    border-radius: 35px;
    margin: 10px;
    padding: 0 20px;
}

.content-wrapper {
    overflow: auto;
    position: fixed;
    width: auto;
    z-index: 0;
    top: 62px;
    bottom: 0;
    width: 100%;
    background-color: #e3e7ef;
}

.content {
    background: #f6f6f6;
}

.mobile-content {}

.mobile-content-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.current-inbox-title {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.tag-icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    right: -26px;
    bottom: 15px;
    position: relative;
    height: 16px;
    width: 16px;
    padding: 4px;
}

.tag-icon i{
    font-size: 14px;
}

.mobile-content-body {}

.mail-list-wrapper {}


.mail-list {}

.mail-item-wrapper {}

.mail-item-container {
    display: flex;
    padding: 10px;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.mail-item-container:hover {
    background: #F2F2F2;
}

.mail-item {}

.mail-item-left {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;    
}

.mail-item-right {
    width: calc(100% - 75px);
    display: flex;
    flex-direction: column;
}

.mail-item-header {
    display: flex;
    justify-content: space-between;
}

.mail-info{
    display: flex;
    flex-direction: column;
}

.mail-sender {
    font-size: 14px;
    color: #9a9a9a;
    margin: 5px 0;
}

.tag-name{
    color: #060606;
    margin: 5px 0;
}

.mail-time {
    font-size: 14px;
    color: #9a9a9a;
}

.mail-subject {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #060606;  
    margin: 5px 0;
}

.mail-summary-container {
    display: none;
}

.mail-summary-header {}

.mail-summary-toolbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.toolbar-icon{
    font-size: 22px;
    margin-right: 8px;
}

.mail-summary-body {
    padding: 10px;
    background: #e8ecf1;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15) inset;
}

.mail-summary-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 32px;
    color: #979797;
    font-size: 14px;
}

.materia-select-dropdown {
    position: relative;
    display: inline-block;
}

.materia-select-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 6px 12px;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.materia-select-btn:hover {
    background: #F2F2F2;
}

.materia-select-btn-after {
    background: #EEEEEE;
}

.materia-select-btn b {
    font-size: 14px;
}

.materia-select-dropdown-content {
    position: absolute;
    display: block;
    background-color: #fff;
    top: 75%;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 3.5), 0 1px 3px 1px rgba(65, 69, 73, 0.35);
    border-radius: 8px;
}

.materia-select-dropdown-content a {
    font-size: 14px;
    padding: 20px 25px;
    text-decoration: none;
    display: block;
    color: #3b4045;
    text-align:left;
    transition: background 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940), width 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

/* Change color of dropdown links on hover */
.materia-select-dropdown-content a:hover {
    background: #F2F2F2;
}

.materia-select-btn input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.materia-select-btn input:not(:checked) ~ .materia-select-dropdown-content {
    display: none;
}

@media only screen and (min-width: 600px) {}