@using PI_3.Models;

<div class="wrapper">
    <!--HEADER-->
    <div class="header-wrapper">
        <div class="header">
            <div class="header-left">

            </div>
            <div class="header-center">
                <div class="mobile-header-backdrop"></div>
                <div class="mobile-header">
                    <button class="mdc-icon-button material-icons header-icon-button" style="left: 8px" id="mobile-sidebar-button">menu</button>
                    <button class="header-search-field" id="mobile-search-button" onclick="SearchModalFocus()">Buscar...</button>
                    <button class="mdc-icon-button header-icon-button" style="right: 8px;" data-micromodal-trigger="modal-1"><img class="header-img-button" src="~/img/porter.jpg"></button>
                </div>
            </div>
            <div class="header-right">

            </div>
        </div>
    </div>
    <!--SIDEBAR-->
    <div class="sidebar-wrapper" id="sidebar">
        <div class="sidebar">
            <div class="mobile-sidebar">
                <div class="sidebar-section">
                    <div class="section-new">
                        <div class="sidebar-logo-container">
                            <i class="material-icons sidebar-logo">book</i>
                        </div>
                        <button class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="width:100%" data-micromodal-trigger="modal-3">
                            <span class="mdc-button__label">Novo Curso</span>
                        </button>
                    </div>
                </div>
                <div class="sidebar-section">
                    <div class="section-default">
                        <ul id="my-list" class="mdc-list" role="listbox">
                            <li class="mdc-list-item mdc-list-item--selected" style="padding: 0;" role="option" aria-selected="true" >
                                <span class="mdc-list-item__text materia-title-container">
                                    <span class="materia-title">
                                        <span class="materia-title-inner">Inbox
                                            <span class="selected-underscore"></span>
                                        </span>
                                    </span>
                                </span>
                            </li>
                            <li class="mdc-list-item" style="padding: 0;" role="option" aria-selected="false" tabindex="0">
                                <span class="mdc-list-item__text materia-title-container">
                                    <span class="materia-title">
                                        <span class="materia-title-inner">Arquivadas
                                            <span class="selected-underscore"></span>
                                        </span>
                                    </span>
                                </span>
                            </li>
                            <div class="list-title">Cursos
                                <button class="mdc-icon-button material-icons" style="font-size: 18px;padding: 0;height: 30px;width: 30px;margin-right: 20px;" data-micromodal-trigger="modal-4">edit</button>
                            </div>
                            @foreach (Curso c in ViewBag.Cursos) {
                            <li class="mdc-list-item list-select" role="option" aria-selected="true" tabindex="0">
                                <span class="mdc-list-item__text materia-title-container">
                                    <span class="materia-title">
                                        <span class="materia-title-inner">@c.CursoNome
                                            <span class="selected-underscore"></span>
                                        </span>
                                    </span>
                                </span>
                                <div class="list-label-container">
                                    <span class="list-label" style="background: red"></span>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="desktop-sidebar">
                <div class="desktop-sidebar-closed">

                </div>
                <div class="desktop-sidebar-open">
                    
                </div>
            </div>

        </div>
    </div>
    <!--CONTENT-->
    <div class="content-wrapper">
        <div class="content">
            <div class="mobile-content">
                <div class="mobile-content-header">
                    <div class="current-inbox-title">Inbox</div>
                    <button class="mdc-button" data-micromodal-trigger="modal-2">
                        <i class="material-icons mdc-button__icon" aria-hidden="true">email</i>
                        <span class="mdc-button__label">Convites</span>
                    </button>
                </div>
                <div class="mobile-content-body">
                    <div class="mail-list-wrapper">
                        <div class="mail-list">
                            <div class="mail-item-wrapper">
                                <a class="mail-item-container">
                                    <div class="mail-item-left">
                                        <img class="account-picture" src="~/img/porter.jpg">
                                        <span class="tag-icon" style="background: #ea4c89;">
                                        </span>
                                    </div>
                                    <div class="mail-item-right">
                                        <div class="mail-item-header">
                                            <div class="mail-sender">Vinícius Bolognini</div>
                                            <div class="mail-time">14:23</div>
                                        </div>
                                        <div class="mail-subject">Assunto Lorem Ipsum Lorem Ipsum</div>
                                        <div class="mail-summary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="mail-item-wrapper">
                                <a class="mail-item-container">
                                    <div class="mail-item-left">
                                        <img class="account-picture" src="~/img/porter.jpg">
                                        <span class="tag-icon" style="background: #03a9f4;">
                                        </span>
                                    </div>
                                    <div class="mail-item-right">
                                        <div class="mail-item-header">
                                            <div class="mail-sender">Lucas Zillig</div>
                                            <div class="mail-time">17:35</div>
                                        </div>
                                        <div class="mail-subject">Duvida sobre big data</div>
                                        <div class="mail-summary-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop-content">

        </div>
    </div>
</div>
<!--MODALS-->
<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-1-title">Configurações</h2>
            </header>
            <main class="modal__content" id="modal-1-content" style="padding: 0;">
                <ul class="mdc-list">
                    <li class="mdc-list-item" tabindex="0" data-micromodal-trigger="modal-6">
                        <span class="mdc-list-item__text">Conta</span>
                    </li>
                    <li class="mdc-list-item" tabindex="0" data-micromodal-trigger="modal-7">
                        <span class="mdc-list-item__text">Senha</span>
                    </li>
                </ul>
            </main>
            <footer class="modal__footer">
                <button onclick="logout()" class="mdc-button mdc-button--outlined mdc-ripple-upgraded" style="width: 100%; margin-top: 15px;height: 46px;width: 100%;margin-top: 15px;">Log Out</button>
            </footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-2" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-2-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-2-title">Convites</h2>
            </header>
            <main class="modal__content" id="modal-2-content">
                <div class="form-wrapper">
                        <div class="mdc-select demo-width-class">
                            <input type="hidden" name="enhanced-select" id="curso-select">
                            <i class="mdc-select__dropdown-icon"></i>
                            <div class="mdc-select__selected-text"></div>
                            <div class="mdc-select__menu mdc-menu mdc-menu-surface demo-width-class">
                                <ul class="mdc-list">
                                    <li class="mdc-list-item" data-value="grains">
                                        DB
                                    </li>
                                </ul>
                            </div>
                            <span class="mdc-floating-label">Curso</span>
                        </div>

                        <label for="email-convite" class="input-label" style="margin-top: 20px;">E-Mail</label>
                        <div class="mdc-text-field mdc-text-field--outlined">
                            <input class="mdc-text-field__input" id="email-convite" type="email">
                            <div class="mdc-notched-outline mdc-notched-outline--no-label">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <button id="enviar-convite-btn" class="option-button mdc-button mdc-button--outlined mdc-ripple-upgraded" style="margin-top: 20px;">Enviar Convite</button>
                </div>
                <div class="invite-wrapper" id="list-invites">
                    <div class="invite">
                        <div class="invite-left">
                            <img class="account-picture-small" src="~/img/porter.jpg">
                            Vinicius Junqueira
                        </div>
                        <div class="invite-right">
                            <button class="mdc-icon-button material-icons">clear</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-3" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-3-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-3-title">Novo Curso</h2>
            </header>
            <main class="modal__content" id="modal-3-content">
                <form id="curso-form" class="form-wrapper" name="form" action="/uploadmultiple" enctype="multipart/form-data" method="post">
                    <label for="nome-pergunta" class="input-label" style="margin-top: -10px;">Nome do Curso</label>
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="nome-curso" type="text">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                    <span class="mdc-button__label">Criar Novo Curso</span>
                </button>
                </form>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-4" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-4-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-4-title">Gerenciar Curso</h2>
            </header>
            <main class="modal__content" id="modal-4-content">
                <div class="invite-wrapper" id="edit-cursos">
                    @foreach (Curso c in ViewBag.Cursos) {
                        <div class="invite" id="edit-curso-@c.CursoId">
                            <div class="invite-left">
                                @c.CursoNome
                            </div>
                            <div class="invite-right">
                                <button class="mdc-icon-button material-icons">edit</button>
                                <button onclick="deleteCurso(@c.CursoId)" class="mdc-icon-button material-icons">clear</button>
                            </div>
                        </div>
                    }
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-5" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-5-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" onclick="SearchModalClose()">chevron_left</button>
                <input class="modal__header__searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar...">
            </header>
            <main class="modal__content" id="modal-5-content">

            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-6" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-6-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-trigger="modal-1" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-6-title">Conta</h2>
            </header>
            <main class="modal__content" id="modal-6-content">
                <form id="perfil-form" class="form-wrapper" name="form" action="/uploadmultiple" enctype="multipart/form-data" method="post">
                    <label for="nome-usuario" class="input-label" style="margin-top: -10px;">Nome</label>
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="nome-usuario" type="text">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <label for="email-usuario" class="input-label">E-Mail</label>
                    <div class="mdc-text-field mdc-text-field--outlined">
                        <input class="mdc-text-field__input" id="email-usuario" type="email">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <!-- <label for="senha-usuario" class="input-label">Senha</label>
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon">lock</i>
                        <input class="mdc-text-field__input" id="senha-usuario" type="password">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <label for="senha-confirmar" class="input-label">Repetir Senha</label>
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon">lock</i>
                        <input class="mdc-text-field__input" id="senha-confirmar" type="password">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div> -->

                    <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <span class="mdc-button__label">Salvar</span>
                    </button>
                </form>
            </main>
            <footer class="modal__footer"></footer>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-7" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-7-title">
            <header class="modal__header">
                <button class="mdc-icon-button material-icons header-icon-button modal__close__custom" data-micromodal-trigger="modal-1" data-micromodal-close>chevron_left</button>
                <h2 class="modal__title" id="modal-7-title">Senha</h2>
            </header>
            <main class="modal__content" id="modal-7-content">
                <form id="perfil-form" class="form-wrapper" name="form" action="/uploadmultiple" enctype="multipart/form-data" method="post">
                    <label for="senha-usuario" class="input-label" style="margin-top: -10px;">Senha</label>
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon">lock</i>
                        <input class="mdc-text-field__input" id="senha-usuario" type="password">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <label for="senha-confirmar" class="input-label">Repetir Senha</label>
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <i class="material-icons mdc-text-field__icon">lock</i>
                        <input class="mdc-text-field__input" id="senha-confirmar" type="password">
                        <div class="mdc-notched-outline mdc-notched-outline--no-label">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch"></div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>

                    <button type="submit" class="mdc-button mdc-button--outlined" style="margin-top: 20px;">
                        <span class="mdc-button__label">Salvar</span>
                    </button>
                </form>
            </main>
            <footer class="modal__footer"></footer>
        </div>
    </div>
</div>

<div id="overlay"></div>
<!--FOOTER-->
</div>

@section Scripts {
    <script type="text/javascript">

    function editarperfil(){
    }

    const textFields = document.querySelectorAll('.mdc-text-field');
    for (const textField of textFields) {
        mdc.textField.MDCTextField.attachTo(textField);
    }

    const selects = document.querySelectorAll('.mdc-select');
    for (const select of selects) {
        mdc.select.MDCSelect.attachTo(select);
    }

    const buttons = document.querySelectorAll('.mdc-button');
    for (const button of buttons) {
        mdc.ripple.MDCRipple.attachTo(button);
    }

    const lists = document.querySelectorAll('.mdc-list');
    const listItems = document.querySelectorAll('.mdc-list-item');
    for (const list of lists) {
        mdc.list.MDCList.attachTo(list);
        for (const listItem of listItems){
            mdc.ripple.MDCRipple.attachTo(listItem);
        }
    }
        //logout
        function logout() {
            $.ajax({
                url: "api/Usuario/LogoutUsuario",
                type: "GET",
                success: (data) => {
                    window.location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error ' + textStatus + " " + errorThrown);
                }
            });
        }

        //Create curso
        $("#pergunta-form").submit(function(event){

            event.preventDefault();

            var curso = {
                'CursoNome': $('#nome-pergunta').val(),
                'CursoTag' : $('#tag-color-button').css( "background-color" ), 
                'ProfessorId': @ViewBag.ProfessorId,
            }
            $.ajax({
                type: 'POST',
                url: "api/Curso",    
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(curso),
                success: function (data) { 
                    alert(data);
                    window.location.reload();
                },
                error: function(res){
                    alert(res.responseText); 
                }
            });
        });

        MicroModal.init({
            awaitCloseAnimation: true,
            disableFocus: true,
            disableScroll: true
        });

        function SearchModalFocus(){
            $(".mobile-header-backdrop").toggleClass("mobile-header-backdrop--after");
            setTimeout(function(){
            MicroModal.show( 'modal-5'); $("#myInput").focus();}, 150 );
        }

        function SearchModalClose(){
            MicroModal.close('modal-5');
            $(".mobile-header-backdrop").removeClass("mobile-header-backdrop--after");
        }

        $(document).ready(function () {
            //MOBILE - ABRIR / FECHAR SIDEBAR
            $("#mobile-sidebar-button").click(function () {
                $("#overlay").fadeToggle(300);
                $(".sidebar-wrapper").toggleClass('sidebar-wrapper-after');
            });

            $("#overlay").click(function () {
                $("#overlay").fadeOut(300);
                $(".sidebar-wrapper").removeClass('sidebar-wrapper-after');
            });
            //-------------------------------------------------------------

            //FORMATO MOBILE - HOVER PARA NOMES GRANDES DE INBOX            TODO: MOBILE GESTURES (on hold)
            $(".list-select").hover(function () {
                var nomeMateriaContainer = $(this).find('.materia-title-container')[0];
                var nomeMateria = $(this).find('.materia-title-container').find('.materia-title')[0];

                if (nomeMateria.offsetWidth - 47 < nomeMateria.scrollWidth) {
                    $(nomeMateria).addClass('list-select-overflowing');
                    var parent_width = nomeMateriaContainer.offsetWidth - 47;
                    $(this).mouseover(function () {
                        nomeMateria.style.transform = 'translateX(calc(-100% + ' + parent_width + 'px))';
                    });
                    $(this).mouseleave(function () {
                        nomeMateria.style.transform = ''
                    });
                }
            });

            //List convites enviados
            (function(){})();
        });

        //Deletar curso
        function deleteCurso(cursoId) {
            $.ajax({
                url: "api/Curso/" + cursoId,
                type: 'DELETE',
                success: function (data) {
                    alert(data);
                    $('#list-curso-' + cursoId).remove();
                    $('#edit-curso-' + cursoId).remove();
                },
                error: function (res) {
                    alert(res);
                }
            });
        }

        //Busca usuário por email
        $('#enviar-convite-btn').click( function(){
            event.preventDefault();
            
            var email = $('#send-invite-searchbar').val();

            if(email != "" && email != null){
                $.ajax({
                    url: "api/Usuario/GetByEmail?email=" + email,
                    type: "GET",
                    success: function (data) {
                        alert("Usuario encontrado");
                        criarConvite(data.alunoId, 27);
                    },
                    error: function(res){
                        alert(res.responseJSON);
                    }
                });
            }
            else{
                alert("Complete o campo!");
            }
        });

        //Criar convite
        function criarConvite(alunoId, cursoId){
            event.preventDefault();

            conviteInfo = {
                'statusInvite': 1,
                'CursoAlunoTag': 'rgb(53, 59, 72)',
                'CursoId': cursoId,
                'AlunoId': alunoId
            }

            $.ajax({
                url: 'api/CursoAluno',
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(conviteInfo),
                success: function(data){
                    alert("Convite enviado!");
                    $('#list-invites').append(
                        '<div class="invite">' +
                            '<div class="invite-left">' +
                                '<img class="account-picture-small" src="~/img/porter.jpg">' +
                                '<div class="invite-info-display">' + 
                                    '<h1>' + data.usuarioNome + '</h1>' +
                                '</div>' +
                            '</div>' +
                            '<div class="invite-right">' +
                                '<button class="small-option-button decline-button"><i class="material-icons material-icons-round">clear</i></button>' +
                            '</div>' +
                        '</div>'
                    );
                },
                error: function(res){
                    alert(res.responseJSON);
                }
            });
        }

        // SEND FILES
        function fileupload(filename) {
            var inputfile = document.getElementById(filename);
            var files = inputfile.files;
            var fdata = new FormData();
            for (var i = 0; i != files.length; i++) {
                fdata.append("files", files[i]);
            }

            $.ajax({
                url: "api/PerguntaArquivo/UploadArquivo",
                data: fdata,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    alert("DEU CERTO");
                }
            });
        }
    </script>
}