@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-wrapper">
    <div class="switch-wrapper">
            <p id="login-p">LOGIN</p>
            <p id="register-p">REGISTER</p>
        <label class="switch">
            <input type="checkbox" id="sliderCheck">
            <span class="slider"></span>
        </label>
    </div>
    <i class="material-icons">donut_small</i>
    <div class="login-form-wrapper">
        <form id="login-form" class="form-style" action="GET">
            <div>
                <p>E-mail</p>
                <input id="login-email" placeholder="E-mail"/>
            </div>
            <div>
                <p>Password</p>
                <input id="login-senha" placeholder="Password" type="password"/>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="register-form-wrapper">
        <form id="register-form" class="form-style">
            <div class="input-super-container">
                <div class="input-container">
                    <div>
                        <p>E-mail</p>
                        <input id="register-email" placeholder="E-mail"/>
                    </div>
                    <div>
                        <p>Nome</p>
                        <input id="register-nome" placeholder="Nome"/>
                    </div>
                </div>
                <div class="input-container">
                    <div>
                        <p>Password</p>
                        <input id="register-senha" placeholder="Password" type="password"/>
                    </div>
                    <div>
                        <p>Repeat Password</p>
                        <input id="register-senha-repeat" placeholder="Repeat Password" type="password"/>
                    </div>
                </div>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>


@section Scripts {
<script type="text/javascript">
    $("#register-p").hide();
    $('.register-form-wrapper').hide();

    $('input[type="checkbox"]').click(function(){
        if($(this).prop("checked") == true){
            $("#register-p").show();
            $("#login-p").hide();
            
            $('.register-form-wrapper').delay(150).fadeIn(150); 
            $('.login-form-wrapper').fadeOut(150);
            
        }
        else if($(this).prop("checked") == false){
            $("#login-p").show();
            $("#register-p").hide();


            $('.login-form-wrapper').delay(150).fadeIn(150); 
            $('.register-form-wrapper').fadeOut(150);
        }
    });

    // Login ajax
    $("#login-form").submit(function(event){
        event.preventDefault(); //prevent default action 

        var LoginUsuarioEmail = $("#login-email").val();
        var LoginUsuarioSenha = $("#login-senha").val();

        $.ajax({
            type: 'GET',
            url: "api/Usuario/LoginUsuario?email=" + LoginUsuarioEmail + "&senha=" + LoginUsuarioSenha,
            success: (data) => {
                window.location.reload(); 
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('error ' + textStatus + " " + errorThrown);
            }
        });
    });
    // Signup ajax
    $("#register-form").submit(function(event){
        event.preventDefault(); //prevent default action 

        let usuario = {
            UsuarioNome: $("#register-nome").val(),
            UsuarioEmail: $("#register-email").val(),
            UsuarioSenha: $("#register-senha").val(),
        }
        console.log(usuario);
        $.ajax({
            type: "POST",
            url: "api/Usuario/RegisterAluno",
            data: usuario,
            dataType: "JSON",
            timeout: 4000,
            success: (data) => {

                window.location.reload(); 
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('error ' + textStatus + " " + errorThrown);
            }
        });
    });
</script>
}