<div class="login-wrapper">
    <div class="switch-wrapper">
            <p id="login-p">LOGIN</p>
            <p id="register-p">REGISTER</p>
        <label class="switch">
            <input type="checkbox" id="sliderCheck">
            <span class="slider"></span>
        </label>
    </div>
    <i class="material-icons">donut_small</i>
    <div class="login-form-wrapper">
        <form id="login-form" class="form-style" action="GET">
            <div>
                <p>E-mail</p>
                <input id="login-email" placeholder="E-mail"/>
            </div>
            <div>
                <p>Password</p>
                <input id="login-senha" placeholder="Password" type="password"/>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="register-form-wrapper">
        <form id="register-form" class="form-style" action="POST">
            <div class="inputs-wrapper">
                <div>
                    <p>E-mail</p>
                    <input id="register-email" placeholder="E-mail"/>
                </div>
                <div>
                    <p>Name</p>
                    <input id="register-name" placeholder="Name"/>
                </div>
            </div>
            <div class="inputs-wrapper">
                <div>
                    <p>Password</p>
                    <input id="register-senha" placeholder="Password" type="password"/>
                </div>
                <div>
                    <p>Repeat password</p>
                    <input id="register-senha-2" placeholder="Repeat password" type="password"/>
                </div>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>


@section Scripts {
<script type="text/javascript">
    $("#login-p").hide();
    $('.login-form-wrapper').hide();

    $('input[type="checkbox"]').click(function(){
        if($(this).prop("checked") == true){
            $("#login-p").show();
            $("#register-p").hide();

            $('.login-form-wrapper').show();
            $('.register-form-wrapper').hide();
        }
        else if($(this).prop("checked") == false){
            $("#login-p").hide();
            $("#register-p").show();

            $('.login-form-wrapper').hide();
            $('.register-form-wrapper').show();
        }
    });

    // Login ajax
    $("#login-form").submit(function(event){
        event.preventDefault(); //prevent default action 

        var LoginUsuarioEmail = $("#login-email").val();
        var LoginUsuarioSenha = $("#login-senha").val();

        $.ajax({
            url: "api/Usuario/LoginUsuario?email=" + LoginUsuarioEmail + "&senha=" + LoginUsuarioSenha,
            success: (data) => {
                window.location.reload(); 
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('error ' + textStatus + " " + errorThrown);
            }
        });
    });
    // Signup ajax
    $("#register-form").submit(function(event){
        event.preventDefault(); //prevent default action 

        let usuario = {
            UsuarioEmail: $("#register-email").val(),
            UsuarioNome: $("register-nome").val(),
            UsuarioSenha: $("#register-senha").val(),
        }
        $.ajax({
            url: "api/Usuario/RegisterAluno",
            type: "POST",
            data: usuario,
            dataType: "json",
            success: (data) => {
                window.location.reload(); 
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('error ' + textStatus + " " + errorThrown);
            }
        });
    });
</script>
}