@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-wrapper">
    <div class="switch-wrapper login-switch">
            <p id="login-p">LOGIN</p>
            <p id="register-p">REGISTER</p>
        <label class="switch">
            <input id="typelogin-input" type="checkbox" id="sliderCheck">
            <span class="slider"></span>
        </label>
    </div>
    <i class="material-icons">donut_small</i>
    <div class="login-form-wrapper">
        <form id="login-form" class="form-style" action="GET">
            <div class="login-form-input-wrapper">
                <div>
                    <p>E-mail</p>
                    <input id="login-email" name="email" placeholder="E-mail" type="email"/>
                </div>
                <div>
                    <p>Password</p>
                    <input id="login-senha" name="password" placeholder="Password" type="password"/>
                </div>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="register-form-wrapper">
        <form id="register-form" class="form-style" action="POST">
            <div class="register-form-input-wrapper">
                <div class="input-container">
                    <div>
                        <p>E-mail</p>
                        <input id="register-email" name="email" placeholder="E-mail" type="email"/>
                    </div>
                    <div>
                        <p>Nome</p>
                        <input id="register-nome" name="username" placeholder="Nome" type="text"/>
                    </div>
                </div>
                <div class="input-container">
                    <div>
                        <p>Password</p>
                        <input id="register-senha" name="password" placeholder="Password" type="password"/>
                    </div>
                    <div>
                        <p>Repeat Password</p>
                        <input id="register-senha-repeat" name="password-repeat" placeholder="Repeat Password" type="password"/>
                    </div>
                </div>
            </div>
            <div class="switch-wrapper typeuser-switch">
                <p id="aluno-p">ALUNO</p>
                <p id="professor-p">PROFESSOR</p>
                <label class="switch">
                    <input id="typeuser-input" type="checkbox" id="sliderCheck">
                    <span class="slider"></span>
                </label>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>


@section Scripts {
<script type="text/javascript">
    $("#register-p").hide();
    $("#professor-p").hide();
    $('.register-form-wrapper').hide();

    $('#typelogin-input').click(function(){
        if($(this).prop("checked") == true){
            $("#register-p").show();
            $("#login-p").hide();
            
            $('.register-form-wrapper').show(); 
            $('.login-form-wrapper').hide();
            
        }
        else if($(this).prop("checked") == false){
            $("#login-p").show();
            $("#register-p").hide();


            $('.login-form-wrapper').show(); 
            $('.register-form-wrapper').hide();
        }
    });

    $('#typeuser-input').click(function(){
        if($(this).prop("checked") == true){
            $("#professor-p").show();
            $("#aluno-p").hide();
                     
        }
        else if($(this).prop("checked") == false){
            $("#aluno-p").show();
            $("#professor-p").hide();

        }
    });

    // Login
    $("#login-form").submit(async(event) => {
        event.preventDefault();

        const LoginUsuarioEmail = $("#login-email").val();
        const LoginUsuarioSenha = $("#login-senha").val();

        const response = await fetch('api/Usuario/LoginUsuario?email=' + LoginUsuarioEmail + '&senha=' + LoginUsuarioSenha)
        if(!response.ok){
            console.log(response.statusText);
            alert(await response.json());
            window.location.reload();
        }else{
            alert(await response.json());
            window.location.reload(); 
        }
    });
    // Register
    $("#register-form").submit(async(event) => {
        event.preventDefault();

        try{
            const confirmEmail = await fetch('api/Usuario/GetByEmail?email=' + $("#register-email").val());
            if(confirmEmail.ok){
                return alert('Esse email já está em uso!');
            }
            if($("#register-senha").val() !== $("#register-senha-repeat").val()){
                return alert('As senhas não combinam!')
            }         
            const data = {
                'UsuarioNome': $("#register-nome").val(),
                'UsuarioEmail': $("#register-email").val(),
                'UsuarioSenha': $("#register-senha").val(),
            }
            let url = 'api/Usuario/RegisterAluno';

            if($('#typeuser-input').prop("checked") == true){
                url = 'api/Usuario/RegisterProfessor';
            }
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            
            window.location.reload();
        }catch(error){
            alert(error);
        }
        debugger;
    });
</script>
}