@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-wrapper">
    <div class="switch-wrapper login-switch">
            <p id="login-p">LOGIN</p>
            <p id="register-p">REGISTER</p>
        <label class="switch">
            <input id="typelogin-input" type="checkbox" id="sliderCheck">
            <span class="slider"></span>
        </label>
    </div>
    <i class="material-icons">donut_small</i>
    <div class="login-form-wrapper">
        <form id="login-form" class="form-style" action="GET">
            <div class="login-form-input-wrapper">
                <div>
                    <p>E-mail</p>
                    <input id="login-email" name="email" placeholder="E-mail" type="email"/>
                </div>
                <div>
                    <p>Password</p>
                    <input id="login-senha" name="password" placeholder="Password" type="password"/>
                </div>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="register-form-wrapper">
        <form id="register-form" class="form-style" action="POST">
            <div class="register-form-input-wrapper">
                <div class="input-container">
                    <div>
                        <p>E-mail</p>
                        <input id="register-email" name="email" placeholder="E-mail" type="email"/>
                    </div>
                    <div>
                        <p>Nome</p>
                        <input id="register-nome" name="username" placeholder="Nome" type="text"/>
                    </div>
                </div>
                <div class="input-container">
                    <div>
                        <p>Password</p>
                        <input id="register-senha" name="password" placeholder="Password" type="password"/>
                    </div>
                    <div>
                        <p>Repeat Password</p>
                        <input id="register-senha-repeat" name="password-repeat" placeholder="Repeat Password" type="password"/>
                    </div>
                </div>
            </div>
            <div class="switch-wrapper typeuser-switch">
                <p id="aluno-p">ALUNO</p>
                <p id="professor-p">PROFESSOR</p>
                <label class="switch">
                    <input id="typeuser-input" type="checkbox" id="sliderCheck">
                    <span class="slider"></span>
                </label>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</div>


@section Scripts {
<script type="text/javascript">
    $("#register-p").hide();
    $("#professor-p").hide();
    $('.register-form-wrapper').hide();

    $('#typelogin-input').click(function(){
        if($(this).prop("checked") == true){
            $("#register-p").show();
            $("#login-p").hide();
            
            $('.register-form-wrapper').delay(150).fadeIn(150); 
            $('.login-form-wrapper').fadeOut(150);
            
        }
        else if($(this).prop("checked") == false){
            $("#login-p").show();
            $("#register-p").hide();


            $('.login-form-wrapper').delay(150).fadeIn(150); 
            $('.register-form-wrapper').fadeOut(150);
        }
    });

    $('#typeuser-input').click(function(){
        if($(this).prop("checked") == true){
            $("#professor-p").show();
            $("#aluno-p").hide();
                     
        }
        else if($(this).prop("checked") == false){
            $("#aluno-p").show();
            $("#professor-p").hide();

        }
    });

    // Login ajax
    $("#login-form").submit(function(event){
        event.preventDefault();

        var LoginUsuarioEmail = $("#login-email").val();
        var LoginUsuarioSenha = $("#login-senha").val();

        $.ajax({
            type: 'GET',
            url: "api/Usuario/LoginUsuario?email=" + LoginUsuarioEmail + "&senha=" + LoginUsuarioSenha,
            success: function(data) {
                window.location.reload(); 
            },
            error: function(res) {
                alert(res.responseText);
                window.location.reload();
            }
        });
    });
    // Signup ajax
    $("#register-form").submit(function(event){
        event.preventDefault();
        
        var usuario = {
            'UsuarioNome': $("#register-nome").val(),
            'UsuarioEmail': $("#register-email").val(),
            'UsuarioSenha': $("#register-senha").val(),
        }
        
        var registerString = 'api/Usuario/RegisterAluno';

        if($('#typeuser-input').prop("checked") == true){
            registerString = 'api/Usuario/RegisterProfessor';
        }

        $.ajax({
            type: 'POST',
            url: registerString,
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(usuario),
            success: function(data) {    
                alert("registrado");
                window.location.reload();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus + " " + errorThrown);
                
            }
        });
    });

    var constraints = {
        email: {
            // Email is required
            presence: true,
            // and must be an email (duh)
            email: true
        },
        password: {
            // Password is also required
            presence: true,
            // And must be at least 5 characters long
            length: {
                minimum: 5
            }
        },
        "confirm-password": {
            // You need to confirm your password
            presence: true,
            // and it needs to be equal to the other password
            equality: {
                attribute: "password",
                message: "^The passwords does not match"
            }
        },
        username: {
            // You need to pick a username too
            presence: true,
            // And it must be between 3 and 20 characters long
            length: {
                minimum: 3,
                maximum: 20
            },
            format: {
                // We don't allow anything that a-z and 0-9
                pattern: "[a-z0-9]+",
                // but we don't care if the username is uppercase or lowercase
                flags: "i",
                message: "can only contain a-z and 0-9"
          }
        }
    }
</script>
}